@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

*{
  margin: 0px ;
  padding: 0px;
  box-sizing: border-box;

  font-family: 'Urbanist', sans-serif;
  font-weight: 400;

}
.nav-con{

  height: 60px;
  position: sticky;
  top: -1px;
  left:0px;
z-index: 4;
background-color: white;
vertical-align: middle;
}

.child-div-nav{
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
.left{
  flex: 1;
  display: flex;
  align-items: center;
}
.right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}
.center{
  flex: 1;
  text-align: center;
}
.ser-con{
  border: 0.5px solid lightgrey;
  display: flex;
  margin-left: 25px;
  padding: 5px;
  align-items: center;
}
.in-ser{
  border: none;
}
.logo{
  font-weight: bold;
}
.menu-right{
  margin-left: 25px;
}
.anounc{
  height: 30px ;
  background-color: teal;
  color: white;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;

}
.slider-con{
  height: 90vh;
  width: 100%;
  display: flex;
  /* background-color: coral; */
  position: relative;
  overflow: hidden;
}

.slide{
display: flex;
align-items: center;
width: 100vw;
height: 100vh;

}
.img-con{
flex: 1;
height: 100%;
}
.img-info{
  flex: 1;
  padding: 50px;


}
.for-img{
  height: 80%;
  display: flex;
  margin: auto;
}
.title-h1{
  font-weight: 400;
  font-size: 70px;
}
.title-p{
  margin: 50px 0px ;
  font-size:1.1rem;
  letter-spacing: 3px;
  font-weight: 500;
}
.title-btn{
padding: 10px;
font-size: 1.1rem;
cursor: pointer;
font-weight: 500;
background-color: transparent;
border:1px solid black;


}
.demon:before{
  content: ' ';
  position: absolute;
  top: 0px;
  left: 0px;
height: 100%;
width: 100%;
  opacity: 20%;
  z-index: 1;
  opacity: 20%;

  background-color: black; 
}
.so:hover{
  transform: scale(1.1);
}
.last-img{
  width: 50%;

}
.s-wrapper{
  padding: 50px;
  display: flex;
}
.s-imgcontainer{
  background-color: lightgray;

  flex: 1;
}
.s-infocontainer{
  flex: 1;
  padding:0px 50px ;
}
.s-img-all{
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
  padding: 4%;
}
.s-desc{
  margin: 20px 0px;
}
.s-price{
  font-weight: 100;
  font-size: 3rem;
}

.s-filtercontainer{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 30px 0px;
}
.s-filter{
  display: flex;
  align-items: center;
}
.s-f-title{
  font-size: 1.3rem;
  font-weight: 300;
  margin-right: 9px;
}
b{
  font-weight: 900;
}
.cart-img{
  width:40%;
}

.cursor{
  cursor: pointer;
}


@media only screen and (max-width:400px ){
  .nav-con{
    height: 50px;
  }
  .child-div-nav{
    padding: 10px 0px;
  }
  .en{
    display: none;
  }
  .in-ser{
    width: 50px;
  }
  .logo{
    font-size: 1.5rem;
  }
  .right{
    justify-content: center;
    flex: 2;
  }
  .menu-right{
    font-size: 0.9rem;
    margin-left: 10px;;
  }
  .ser-con{
    margin-left: 5px;

  }
  .slider-con{
    display: none;
  }
  .s-wrapper{
    flex-direction: column;
    padding: 5px;
  }
  .s-imgcontainer{
    width: 100%;
  }
  .s-img-all{
    height: 45vh;
  }
  .s-infocontainer{
    padding: 20px;
  }
  .s-filtercontainer{
    width: 100%;
  }
  .cart-img{
    width:50%;
  }
}